<!-- Sección Principal -->
<div class="hero-section position-relative">
    <video autoplay muted loop class="hero-video">
      <source src="assets/videos/video-prueba.mp4" type="video/mp4">
      <track src="assets/videos/video-prueba.vtt" kind="captions" srclang="es" label="Español">
      Tu navegador no soporta la etiqueta de video.
    </video>
    <div class="hero-overlay"></div>
    <div class="hero-content text-center text-white">
      <h1 class="hero-title">Semana de la Computación</h1>
      <p class="hero-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <p class="hero-subtitle">
        Ut facilisis erat eu leo facilisis, sit amet eleifend velit hendrerit.
      </p>
    </div>
  </div>
  