<!-- Contenedor Principal -->
<div class="container my-5">
  <!-- Primera Sección -->
  <div class="row align-items-center mb-5">
    <div class="col-md-6">
      <img src="assets/imagenes/Escuela.png" class="img-fluid" alt="Fondo Escuela">
    </div>
    <div class="col-md-6">
      <h2 class="content-title">Nuestra Escuela</h2>
      <p class="content-description">
        Esta es una breve descripción del primer contenido. Aquí puedes agregar más detalles sobre la imagen a la izquierda.
      </p>
    </div>
  </div>
  
  <!-- Segunda Sección -->
  <div class="row align-items-center mb-5 flex-md-row-reverse">
    <div class="col-md-6">
      <img src="assets/imagenes/Persona.png" class="img-fluid" alt="Persona Random">
    </div>
    <div class="col-md-6">
      <h2 class="content-title">Coordinadores</h2>
      <p class="content-description">
        Esta es una breve descripción del segundo contenido. Aquí puedes agregar más detalles sobre la imagen a la derecha.
      </p>
    </div>
  </div>
  <app-inscripcion-component></app-inscripcion-component>
</div>
