/* Estilos para el Contenedor Principal */
.container {
  max-width: 1200px;
}

/* Estilos para el Título del Contenido */
.content-title {
  font-size: 2rem; /* Tamaño del título */
  font-weight: bold;
  margin-bottom: 1rem; /* Espacio debajo del título */
}

/* Estilos para la Descripción del Contenido */
.content-description {
  font-size: 1.2rem; /* Tamaño de la descripción */
}
